<template>
  <b-container class="home">
    <Welcome :msg="welcomeMsg" />
  </b-container>
</template>

<script>
// @ is an alias to /src
import Welcome from '@/components/Welcome.vue'

export default {
  name: 'Home',
  components: {
    Welcome
  },
  data() {
    return {
      welcomeMsg:
        'Seja bem vindo!<br>Selecione abaixo o problema que deseja resolver:'
    }
  }
}
</script>
