<template>
  <b-container class="problems">
    <h1>{{ problem.name }}</h1>
    <p v-html="problem.description"></p>
    <div class="problems__container">
      <Growth v-if="problem.id === problems.growth.id" />
      <Library v-if="problem.id === problems.library.id" />
      <Matriz v-if="problem.id === problems.matriz.id" />
      <Fibonacci v-if="problem.id === problems.fibonacci.id" />
    </div>
  </b-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import ProblemsData from '@/assets/problems'
import Growth from '@/components/Growth.vue'
import Library from '@/components/Library.vue'
import Matriz from '@/components/Matriz.vue'
import Fibonacci from '@/components/Fibonacci.vue'
import { Problem } from '@/interfaces'

@Component({
  components: { Growth, Library, Matriz, Fibonacci }
})
export default class Problems extends Vue {
  problems = ProblemsData
  id = 0

  get problem(): Problem | undefined {
    return Object.values(ProblemsData).find(
      p => p.id === parseInt(this.$route.params.id)
    )
  }
}
</script>

<style scoped lang="scss">
.problems {
  &__container {
    padding: 20px;
  }
}
</style>
