<template>
  <div class="fibonacci">
    <div class="d-flex align-items-center mb-3">
      <label for="qnt-fib">
        Quantidade de números da sequência Fibonacci
      </label>
      <b-form-input
        class="fibonacci__input ml-3"
        type="number"
        min="1"
        max="100"
        name="qnt-fib"
        v-model="qntFib"
        @input="generateFibNumbers()"
      />
    </div>
    <div class="d-flex align-items-center">
      <label for="input-numbers"><strong>Entrada de números</strong></label>
      <b-form-input
        type="text"
        v-model="input"
        name="input-numbers"
        @keyup="maskInput()"
        class="input-numbers ml-3"
      />
    </div>
    <div class="mb-3 mt-3">
      <div>Sequência de Fibonacci:</div>
      <span
        v-for="s in sequence"
        :key="s"
        class="fibonacci__number"
        :class="{ inputed: numbers.includes(s) }"
      >
        {{ s.toLocaleString() }}
      </span>
    </div>
    <div v-if="numbers.length">
      <h4>Números válidos em sequência:</h4>
      <span v-for="n in numbers" :key="n" class="fibonacci__number valid">
        {{ n.toLocaleString() }}
      </span>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { NumberCache } from '@/interfaces'

@Component
export default class Matriz extends Vue {
  sequence: number[] = []
  input = ''
  qntFib = 30

  created() {
    this.fibonacci(this.qntFib)
  }

  generateFibNumbers() {
    this.sequence = []
    this.fibonacci(this.qntFib)
  }

  /**
   * Máscara para input de números e ','
   */
  maskInput(): void {
    const notNumberOrComma = new RegExp(/[^[\d,]/g)
    this.input = this.input.replace(notNumberOrComma, '')
  }

  /**
   * Números inseridos válidos e ordenados
   */
  get numbers(): number[] {
    const numbers: number[] = []
    const processedInput = this.input
      .split(',')
      .filter(i => this.sequence.includes(parseInt(i)))
    for (const s of processedInput) numbers.push(parseInt(s))
    return numbers.sort((a, b) => {
      if (a < b) return -1
      if (a > b) return 1
      return 0
    })
  }

  /**
   * Pega a sequência de fibonacci de forma recursiva, com cache
   * @param num Primeiros N números da sequência.
   * @param cache Cache de números já processados
   */
  fibonacci(num: number, cache?: NumberCache): number {
    cache = cache || {}
    if (cache[num]) return cache[num]
    if (num <= 1) {
      if (!this.sequence.includes(1)) this.sequence.push(1)
      return 1
    }
    cache[num] = this.fibonacci(num - 1, cache) + this.fibonacci(num - 2, cache)
    this.sequence.push(cache[num])
    return cache[num]
  }
}
</script>

<style lang="scss">
.fibonacci {
  &__number {
    width: 30px;
    height: 30px;
    border: 1px solid $color-primary;
    padding: 3px 10px;
    border-radius: 20px;
    display: inline-table;
    margin: 5px;
    transition: 0.3s ease-in-out;

    &.inputed {
      background-color: $color-secondary;
      color: white;
    }

    &.valid {
      background-color: $color-primary;
      color: white;
    }
  }

  &__input {
    width: 100px;
  }

  .input-numbers {
    width: 300px;
  }
}
</style>
