<template>
  <div class="growth">
    <form @submit.prevent="calculate()">
      <div
        class="d-flex align-items-center justify-content-center growth__input"
      >
        <table class="growth__table">
          <th></th>
          <th>Chico</th>
          <th>Juca</th>
          <th></th>
          <tr>
            <td>Altura (m)</td>
            <td>
              <b-form-input
                type="number"
                required
                step=".01"
                min=".5"
                max="10"
                placeholder="0,00 m"
                v-model="first.height"
              />
            </td>
            <td>
              <b-form-input
                type="number"
                required
                step=".01"
                min=".5"
                max="10"
                placeholder="0,00 m"
                v-model="second.height"
              />
            </td>
          </tr>
          <tr>
            <td>Crescimento anual (cm)</td>
            <td>
              <b-form-input
                type="number"
                required
                step=".1"
                min=".1"
                max="10"
                placeholder="0 cm"
                v-model="first.growth"
              />
            </td>
            <td>
              <b-form-input
                type="number"
                required
                step=".01"
                min=".01"
                max="10"
                placeholder="0 cm"
                v-model="second.growth"
              />
            </td>
          </tr>
        </table>
      </div>
      <button type="submit" class="btn btn-primary mt-3">
        Calcular
      </button>
    </form>
    <div v-if="result.length" class="growth__result">
      <div class="label">Resultado:</div>
      <span class="result" v-html="result"></span>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { Measure } from '@/interfaces'

@Component
export default class Growth extends Vue {
  first: Measure = {
    height: '1.5',
    growth: '2'
  }
  second: Measure = {
    height: '1.1',
    growth: '3'
  }
  result = ''

  get valid() {
    return (
      parseFloat(this.first.height) &&
      parseFloat(this.first.growth) &&
      parseFloat(this.second.height) &&
      parseFloat(this.second.growth)
    )
  }

  calculate() {
    this.result = ''
    if (!this.valid) return alert('Dados inválidos')
    if (this.second.growth <= this.first.growth)
      return alert(
        'Crescimento de Chico não pode ser maior ou igual ao de Juca'
      )
    const years = this.calcYears()
    if (years > 0)
      this.result = `Juca será maior que Chico em <strong>${years} anos</strong>`
    else alert('Altura de Juca está maior que a de Chico')
  }

  calcYears() {
    let years = 0
    let secondGrowth = 1 * parseFloat(this.second.height)
    let firstGrowth = 1 * parseFloat(this.first.height)
    while (secondGrowth < firstGrowth) {
      secondGrowth += parseFloat(this.second.growth) / 100
      firstGrowth += parseFloat(this.first.growth) / 100
      years++
    }
    return years
  }
}
</script>

<style scoped lang="scss">
.growth {
  &__table {
    td {
      padding: 5px;
    }
  }

  &__result {
    padding: 15px;

    .label {
      font-size: 20px;
    }

    .result {
      font-size: 26px;
      color: $color-primary;
    }
  }
}
</style>
