<template>
  <div class="d-flex flex-column align-items-center library">
    <form class="text-left library__form">
      <label for="book">Nome do livro</label>
      <b-form-input
        v-model="book"
        type="text"
        name="book"
        required
        maxlength="85"
      />
      <label for="type" class="mt-3">Tipo usuário</label>
      <div class="d-flex">
        <b-form-radio
          name="type"
          required
          v-model="usrType"
          value="student"
          class="mr-3"
        >
          Aluno
        </b-form-radio>
        <b-form-radio name="type" required v-model="usrType" value="teacher">
          Professor
        </b-form-radio>
      </div>
      <label for="date" class="mt-3">Data retirada</label>
      <b-form-input
        type="date"
        class="library__date"
        name="date"
        v-model="selectedDate"
      />
    </form>
    <div class="text-left library__receipt" :class="{ visible: book.length }">
      <div class="d-flex justify-content-between title">
        Recibo da Biblioteca
        <span class="code" title="Código do recibo">#{{ randomRID }}</span>
      </div>
      <div class="d-flex">
        <span class="label">Livro:</span>
        <strong>{{ book }}</strong>
      </div>
      <div>
        <span class="label">Tipo usuário:</span>
        <strong>{{ selectedUsrType.name }}</strong>
      </div>
      <div>
        <span class="label">Prazo:</span>
        <strong>{{ selectedUsrType.term }} dias</strong>
      </div>
      <div>
        <span class="label">Data:</span>
        <strong v-if="selectedDate.length">{{ formatedDate }}</strong>
      </div>
      <div>
        <span class="label">Entrega limite:</span>
        <strong v-if="selectedDate.length">{{ finalDate }}</strong>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { UsrTypes, UsrType } from '@/interfaces'

@Component
export default class Growth extends Vue {
  book = ''
  usrTypes: UsrTypes = {
    student: {
      id: 0,
      name: 'Aluno',
      term: 3
    },
    teacher: {
      id: 1,
      name: 'Professor',
      term: 10
    }
  }
  usrType = 'student'
  selectedDate = ''

  created() {
    this.selectedDate = new Date().toISOString().substring(0, 10)
  }

  get formatedDate() {
    const split = this.selectedDate.split('-')
    return `${split[2]}/${split[1]}/${split[0]}`
  }

  get selectedUsrType(): UsrType {
    return this.usrTypes[this.usrType]
  }

  get finalDate(): string {
    const dt = new Date(this.selectedDate.replace('-', '/'))
    dt.setDate(dt.getDate() + this.selectedUsrType.term)
    return dt.toLocaleDateString()
  }

  get randomRID(): string {
    const char = '1234567890abcdefghijklmnopqrstuvwxyz'
    const length = 8
    let randomvalue = ''
    for (let i = 0; i < length; i++) {
      const value = Math.floor(Math.random() * char.length)
      randomvalue += char.substring(value, value + 1).toUpperCase()
    }
    return randomvalue
  }
}
</script>

<style scoped lang="scss">
.library {
  &__form {
    width: 500px;
  }

  &__date {
    width: fit-content;
  }

  &__receipt {
    margin-top: 30px;
    width: 500px;
    padding: 20px;
    border: 1px dashed $color-blue;
    background: $color-primary;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    visibility: hidden;
    opacity: 0;

    &.visible {
      visibility: visible;
      opacity: 1;
    }

    .title {
      font-size: 24px;
    }

    strong {
      color: $color-yellow;
      word-break: break-all;
    }

    .label {
      display: inline-flex;
      min-width: 110px;
    }

    .code {
      font-size: 16px;
    }
  }
}
</style>
