<template>
  <div class="matriz">
    <div class="mb-3">
      <div class="mb-3">
        Gerar matriz
      </div>
      <div>
        <button
          class="btn btn-secondary mr-3"
          :class="{ pair: !type }"
          @click="generateNumbers(0)"
        >
          Par
        </button>
        <button
          class="btn btn-secondary"
          :class="{ odd: type === 1 }"
          @click="generateNumbers(1)"
        >
          Ímpar
        </button>
      </div>
    </div>
    <div v-if="!type || type === 1">
      <div v-for="x in size.x" :key="x" class="d-flex justify-content-center">
        <div
          v-for="y in size.y"
          :key="y"
          class="d-flex align-items-center justify-content-center matriz__square"
          :class="{ pair: !type, odd: type === 1 }"
        >
          {{ numbers[getIndex({ x: x, y: y })] }}
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { Coordinate } from '@/interfaces'

@Component
export default class Matriz extends Vue {
  size: Coordinate = { x: 5, y: 5 }
  type = -1 // 0: par | 1: ímpar
  numbers: number[] = []

  generateNumbers(type: number) {
    this.type = type
    this.numbers = []

    for (let col = 0; col < this.size.x; col++)
      for (let line = 0; line <= this.size.y; line++)
        this.numbers.push(this.generateRandomNumber())
  }

  generateRandomNumber(): number {
    const min = 0
    const max = 100
    const num = Math.floor(Math.random() * (max - min)) + min
    let sorted = 0
    if (!this.type) sorted = num % 2 === 0 ? num : num + 1
    else sorted = num % 2 === 0 ? num + 1 : num
    if (this.numbers.includes(sorted)) return this.generateRandomNumber()
    return sorted
  }

  getIndex(target: Coordinate): number {
    return target.y > 0
      ? (target.y - 1) * this.size.y + (target.x - 1)
      : target.x
  }
}
</script>

<style scoped lang="scss">
.matriz {
  &__square {
    width: 50px;
    height: 50px;
    border: 1px solid white;
    transition: 0.3s ease-in-out;
  }

  .pair {
    background-color: $color-primary;
    transition: 0.3s ease-in-out;
  }

  .odd {
    color: white;
    background-color: $color-orange;
    transition: 0.3s ease-in-out;
  }

  .btn {
    transition: 0.3s ease-in-out;
    min-width: 100px;
  }
}
</style>
