<template>
  <div class="welcome">
    <h4 v-html="msg"></h4>
    <ul class="welcome__list">
      <li v-for="problem in problems" :key="problem.id" class="li">
        <router-link :to="'/problem/' + problem.id">
          <button class="btn btn-primary" :id="'p' + problem.id">
            {{ problem.name }}
          </button>
        </router-link>
        <b-popover
          :target="'p' + problem.id"
          triggers="hover"
          placement="right"
        >
          <template v-slot:title>{{ problem.name }}</template>
          <span v-html="problem.description"></span>
        </b-popover>
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import Problems from '@/assets/problems'

@Component
export default class Welcome extends Vue {
  @Prop() private msg!: string
  problems = Problems
}
</script>

<style scoped lang="scss">
.welcome {
  &__list {
    list-style: none;

    .li {
      padding: 7.5px 0;

      .btn-primary {
        min-width: 120px;
      }
    }
  }
}
</style>
