<template>
  <div class="af-problems">
    <div id="nav">
      <router-link to="/">Início</router-link>
      <router-link
        v-for="problem in problems"
        :key="problem.id"
        :to="`/problem/${problem.id}`"
      >
        {{ problem.name }}
      </router-link>
    </div>
    <router-view />
  </div>
</template>

<script lang="ts">
import Problems from '@/assets/problems'

export default {
  data() {
    return {
      problems: Problems
    }
  }
}
</script>

<style lang="scss">
.af-problems {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;

  h1 {
    font-size: 30px;
  }

  #nav {
    padding: 30px;

    a {
      font-weight: bold;
      color: #2c3e50;
      padding: 15px;

      &.router-link-exact-active {
        color: #42b983;
      }
    }
  }
}
</style>
